<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bilete Accesibile - plata acceptata</title>
</head>
<body style="background-color:dodgerblue; font-family:arial,serif">
    <div style="display: flex; justify-content: space-between;">
        <a href="http://127.0.0.1:8000/"><h1>Bilete Accesibile</h1></a>
        <p> Bine ai venit, <b>{{ user.first_name }} {{ user.last_name }}</b>! <a href="http://127.0.0.1:8000/login">DELOGHEAZA-TE</a> |
        <a href="http://127.0.0.1:8000/account">DETALII CONT</a></p>
    </div>
    <center><a href="/..">Plata efectuata cu succes! Revino la pagina principala </a></center>
</body>
</html>